body {
    background-color: lightskyblue;
}
a {
    background: #EEE;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
    border-radius: 10px;
}
a:hover {
    background: #FFF;
}
a {
    display: inline-block;
    margin: 10px;
}